uvicorn
bitsandbytes>=0.39.0
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/transformers.git
datasets
scipy
numpy
rouge_score
fire
openai
sentencepiece
wandb
gradio==3.9
deepspeed==0.9.2
tensorboardX
jupyter
ipykernel